#header1 {
    font-family: 'Share Tech', sans-serif;
    color:grey;
}

#headerlinks {
    font-family: 'Share Tech', sans-serif;
    color:grey;
}

.animals {
    font-family: 'Share Tech', sans-serif;
    color:grey;
    font-size:30px;

}

body {

}