#header1 {
    font-family: 'Share Tech', sans-serif;
    color:fuchsia;
}

#headerlinks {
    font-family: 'Share Tech', sans-serif;
    color:fuchsia;
}

.animals {
    font-family: 'Share Tech', sans-serif;
    color:fuchsia;
    font-size:30px;

}

body {
    
}